apiVersion: v1
kind: Secret
metadata:
  name: tic-tac-toe-secrets
  namespace: tic-tac-toe
  labels:
    app.kubernetes.io/name: tic-tac-toe-secrets
    app.kubernetes.io/part-of: tic-tac-toe
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: __MYSQL_ROOT_PASSWORD_B64__
